# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

#Ignore entire project folders
Construction Job Quote Generator/
DataTypes/
findSum/
Function demonstration/
Loops/
Messing around/
py_projects/
scores1/
Simple Calculator/
Student Grade Saver/
Template/
Using.ofstream/